@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
body, html {
  margin: 0;
  padding: 0;
}
body p, body h1, body h2, body h3, body h4, body h5, body label, body a, html p, html h1, html h2, html h3, html h4, html h5, html label, html a {
  font-family: "Montserrat", sans-serif;
}

#page-body {
  background-color: #efefef;
  overflow-x: hidden;
}
#page-body ::-webkit-scrollbar {
  width: 1em;
}
#page-body ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#page-body ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.hero-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
  min-height: 105px;
  background-image: url(./img/eng-sunset1.jpg);
  background-color: #464646;
  background-blend-mode: overlay;
  background-size: cover;
  background-position: calc(50% - 8px) 57%;
  overflow: hidden;
}
.hero-nav .hero-nav__inner {
  z-index: 1;
}
.hero-nav h1 {
  color: #efefef;
  font-size: 70px;
  font-family: "Mea Culpa", cursive;
}
.hero-nav:before {
  content: "";
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 400ms;
}
.hero-nav.fixme:before {
  background: #e49090;
}

#date-place {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 2%;
  font-size: 40px;
  height: 55vh;
}
#date-place div:nth-of-type(1) {
  padding-right: 30px;
  border-right: 2px solid #464646;
}
#date-place div:nth-of-type(2) {
  padding-left: 30px;
  border-left: 2px solid #464646;
}
#date-place div > a {
  text-decoration: none;
  color: #464646;
  transition: 0.3s ease-in-out;
}
#date-place div > a:hover {
  color: #010101;
  letter-spacing: 0.2px;
}

#rsvp {
  width: 100vw;
  margin: 0 auto;
  padding: 2%;
  line-height: 1.625;
  background-color: #efefef;
}
#rsvp h2, #rsvp p, #rsvp input {
  font-family: "Montserrat", sans-serif;
}

#form-inputs {
  border: 2px solid #464646;
  border-radius: 5px;
  padding: 2%;
  margin: 2% 0;
  transition: 0.5s ease-in-out;
}
#form-inputs .vegan {
  color: #12a200;
  font-style: italic;
  margin-right: 10px;
}

.text-input i {
  width: 15px;
}

.text-input input {
  width: 75%;
  margin: 5px;
}

#main-response div {
  display: flex;
  justify-content: center;
}
#main-response div div {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
#main-response label {
  font-family: "Montserrat", sans-serif;
}
#main-response input[type=radio i] {
  display: none;
}
#main-response label {
  border: 1px solid #3b3b3b;
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px;
  width: 30%;
  transition: 0.15s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#main-response label h5 {
  font-size: 18px;
  margin: 0;
  text-decoration: underline;
}
#main-response label:hover {
  border: 1px solid #464646;
  background-color: #f3f3f3;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#main-response label:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
#main-response label:has(input:checked) {
  border: 1px solid black;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.form-input-group div {
  margin: 30px 0;
}
.form-input-group div div {
  display: flex;
  justify-content: space-evenly;
}
.form-input-group div div input[type=radio i] {
  display: none;
}
.form-input-group div div label {
  border: 1px solid #3b3b3b;
  border-radius: 8px;
  margin: 0 10px;
  padding: 10px;
  width: 30%;
  transition: 0.15s ease-in-out;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.form-input-group div div label h5 {
  font-size: 18px;
  margin: 0;
  text-decoration: underline;
}
.form-input-group div div label:hover {
  border: 1px solid #464646;
  background-color: #f3f3f3;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.form-input-group div div label:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.form-input-group div div label:has(input:checked) {
  border: 1px solid black;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

#ty-msg {
  height: 300px;
  justify-content: center;
  align-items: center;
}

/**LOADING ANIMATION**/
.loading-box {
  height: 300px;
  background: #f1f1f1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-container {
  height: 15px;
  width: 105px;
  display: flex;
  position: relative;
}
.loading-container .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #464646;
  animation: move 500ms linear 0ms infinite;
  margin-right: 30px;
}
.loading-container .circle:first-child {
  position: absolute;
  top: 0;
  left: 0;
  animation: grow 500ms linear 0ms infinite;
}
.loading-container .circle:last-child {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 0;
  animation: grow 500ms linear 0s infinite reverse;
}

@keyframes grow {
  from {
    transform: scale(0, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes move {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(45px);
  }
}
/**LOADING ANIMATION**/
#gh-map {
  display: flex;
  justify-content: center;
}
#gh-map iframe {
  height: 45vh;
  margin: 0;
  border-radius: 10px;
  border: 1px solid #464646;
}

#ap-info {
  padding: 2.5% 5%;
}

footer {
  background-color: #464646;
  color: #f1f1f1;
}
footer h2 {
  font-size: 25px;
}
footer #footer-container-outer {
  display: flex;
  justify-content: center;
}
footer #footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
footer #footer-info {
  width: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
footer #footer-info a {
  color: #f1f1f1;
  text-decoration: underline;
}
footer #footer-info a:active,
footer #footer-info a:hover {
  color: black;
  background-color: #f1f1f1;
}
footer #footer-info ul {
  border: 1px solid #f1f1f1;
  padding: 5px;
  border-radius: 8px;
  margin: 5px 0;
  list-style: none;
}
footer #footer-contact {
  height: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
footer #footer-contact h2 {
  margin: 0 0 10px 0;
}
footer #footer-contact a {
  color: #f1f1f1;
  text-decoration: underline;
}
footer #footer-contact div {
  border: 1px solid #f1f1f1;
  padding: 5px;
  border-radius: 8px;
  margin: 5px 0;
}

@media only screen and (max-width: 600px) {
  #date-place {
    font-size: 25px;
    padding: 5%;
  }
  #date-place div:nth-of-type(1) {
    text-align: right;
  }
  #guest_input .form-input-group > div div {
    flex-direction: column;
    margin-top: 0;
  }
  #guest_input .form-input-group > div div label {
    width: 100%;
    margin: 10px 0;
  }
  #footer-container-outer {
    padding: 0 5%;
  }
  #footer-container-outer #footer-container {
    width: 100%;
    flex-direction: column;
    margin-bottom: 25px;
  }
  #footer-container > div {
    width: 100%;
  }
  #add-cal {
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
